.boton-clear {
  height: 80px;
  font-size: 1.6em;
  display: flex;
  flex: 1;
  background-color: #ac0257b0;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  border-radius: 45px;
  border-top: 2px solid #ececec;
  cursor: pointer;
}

.boton-clear:hover {
  background-color: #92024ac5;
}